In [2]:
    #    0    1   2
name = ["A","B","C"] 
    #    -3   -2  -1
print(name[2])

C

In [4]:
dir(name)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [6]:
len(dir(list))

46

In [16]:
names =[]
names.append("A")

names.append("B")

names.append("C")
names.append(3)

names

['A', 'B', 'C', 3]

In [18]:
names = ['A','B','C']
print(names)
names.clear()
print(names)

['A', 'B', 'C']
[]

In [21]:
names = ["A","B","C"]
names1 =names    #shallow copy

names[0] ='pakistan'
print("names",names)
print("name1",names1)

names ['pakistan', 'B', 'C']
name1 ['pakistan', 'B', 'C']

In [23]:
names =["A","B","C"]
names1 =names.copy() #deep copy

names[0] ='pakistan'
print("names",names)
print("name1",names1)

names ['pakistan', 'B', 'C']
name1 ['A', 'B', 'C']

In [26]:
names =["A","B","C","A","A"]
names.count("A")

3

In [31]:
l1 = [1,2,3]
l2 =[4,5,6]
print(l1)
print(l2)
l1.extend(l2) #in momory #reql data update
print(l1)
print(l2)

[1, 2, 3]
[4, 5, 6]
[1, 2, 3, 4, 5, 6]
[4, 5, 6]

In [33]:
l1 = [1,2,3]
l2 =[4,5,6]

print(l1+l2) #inline

print(l1)
print(l2)

[1, 2, 3, 4, 5, 6]
[1, 2, 3]
[4, 5, 6]

In [42]:
l1 = ["A,"B"]
print(l1.index('A',1))
print(l1.index('B',1))

SyntaxError: EOL while scanning string literal (<ipython-input-42-c61889cd7289>, line 1)

In [55]:
l1 = []
l1.insert(0,"A")
l1.insert(0,"B")
l1.insert(0,"C")
print(l1)
l1.insert(1,"D")
print(l1)

['C', 'B', 'A']
['C', 'D', 'B', 'A']

In [8]:
l1 = []
names =['A','B','C','C','D']
print(names)
a = names.pop() #remove from last 
l1.append(a)
a = names.pop()
l1.append(a)
a = names.pop()
l1.append(a)
print(l1)
print(names)

['A', 'B', 'C', 'C', 'D']
['D', 'C', 'C']
['A', 'B']

In [9]:
a = print('Pakistan')
print(a)

Pakistan
None

In [12]:
l1 =["A","B","C","D"]
a = l1.pop(2) #return function value assign in variable #remove by index
print(a)

C

In [13]:
names =['A','B','C','C','D']
del names[-1] #remove by index
del names[-1]
del names[-1]
names

['A', 'B']

In [16]:
l1 =["A","B","C","D"]
l1.remove("A") #by value # non return function
print(l1)

['B', 'C', 'D']

In [19]:
l1 =["A","B","C","D","E"]
print(l1)
l1.reverse()
print(l1)

['A', 'B', 'C', 'D', 'E']
['E', 'D', 'C', 'B', 'A']

In [22]:
l1 =["A","B","C","E","D"]
print(l1)
l1.sort()

print(l1)

['A', 'B', 'C', 'E', 'D']
['A', 'B', 'C', 'D', 'E']

In [24]:
l1 =["A","B","C","E","D"]
print(l1)
l1.sort(reverse=true)

print(l1)

['A', 'B', 'C', 'E', 'D']

NameError: name 'true' is not defined

In [28]:

#example append
names =[]
names.append("Ehsaan")
names.append("Ali")
print(names)

['Ehsaan', 'Ali']

In [30]:
# example clear
names = ["Ehsaan","Hamza","Qasim"]
print(names)
names.clear()
print(names)

['Ehsaan', 'Hamza', 'Qasim']
[]

In [32]:
names =["Ehsaan ","Ali","hamza"]
names1 =names.copy() 

names[0] ='abdullah'
print("names",names)
print("name1",names1)

names ['abdullah', 'Ali', 'hamza']
name1 ['Ehsaan ', 'Ali', 'hamza']

In [34]:
names =["Ehsaan ","Ali","hamza"]
names.count("Ali")

1

In [36]:
names =["Ehsaan ","Ali","hamza"]
names1 =["Abdullah"]
names.extend(names1)
print(names)

['Ehsaan ', 'Ali', 'hamza', 'Abdullah']

In [38]:
l1 = ['A','B','C']
l1.__delitem__(1)
print(l1)

['A', 'C']

In [40]:
l1 = ['A','B','C']
l1.__doc__

'Built-in mutable sequence.\n\nIf no argument is given, the constructor creates a new empty list.\nThe argument must be an iterable if specified.'

In [48]:
l1 = [5,6,7]
l2 = [1,2,3]
l3 = [8,9,2]
l4 = [5,6,7]
print(l1.__eq__(l4))
print(l1.__ge__(l2))
print(l1.__len__())

True
True
3

In [49]:
help(list)

Help on class list in module builtins:

class list(object)
 |  list(iterable=(), /)
 |
 |  Built-in mutable sequence.
 |
 |  If no argument is given, the constructor creates a new empty list.
 |  The argument must be an iterable if specified.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the list.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(self, /)
 |      Return the size of the list in memory, in bytes.
 |
 |  append(self, object, /)
 |      Append object to the end of the list.
 |
 |  clear(self, /)
 |      Remove all items from list.
 |
 |  copy(self, /)
 |      Return a shallow copy of the list.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  extend(self, iterable, /)
 |      Extend list by appending elements from the iterable.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  insert(self, index, object, /)
 |      Insert object before index.
 |
 |  pop(self, index=-1, /)
 |      Remove and return item at index (default last).
 |
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(self, value, /)
 |      Remove first occurrence of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  reverse(self, /)
 |      Reverse *IN PLACE*.
 |
 |  sort(self, /, *, key=None, reverse=False)
 |      Stable sort *IN PLACE*.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

#  Tuple

In [51]:
l1 =("A","B","C")
l1[0]

'A'

# loop(while,for)

# counter
logic
increment/decrement

In [56]:
counter =1
while counter<=10:
    print("Pakistan",counter)
    counter+=1

Pakistan 1
Pakistan 2
Pakistan 3
Pakistan 4
Pakistan 5
Pakistan 6
Pakistan 7
Pakistan 8
Pakistan 9
Pakistan 10

In [57]:
counter =1000
while counter>=990:
    print("Pakistan",counter)
    counter-=1

Pakistan 1000
Pakistan 999
Pakistan 998
Pakistan 997
Pakistan 996
Pakistan 995
Pakistan 994
Pakistan 993
Pakistan 992
Pakistan 991
Pakistan 990

In [59]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [63]:
for i in range (1,11):
    print("paskistan",i)

paskistan 1
paskistan 2
paskistan 3
paskistan 4
paskistan 5
paskistan 6
paskistan 7
paskistan 8
paskistan 9
paskistan 10

In [65]:
  [print("paskistan",str(i)for i in range (1,11)]

SyntaxError: invalid syntax (<ipython-input-65-60d47fee1dd5>, line 1)

In [ ]:
b = input ("enter any number") 
b =int(b)
for i in range (1,11):
    c =b*i
    c = int(c)
    print(b,"*",i,"=",c)

In [37]:

b = input ("enter any number") 
b =int(b)

d = input ("enter any number") 
d =int(b)

c = input ("how many time muliplication") 
c =int(c)
   #1
for n in range(1,c):    
    for i in range (1,b+1):
        #i =1 near loop   
    
        print(f'{i} X {n} = {n*i}',end ='\t')
    print()

enter any number4
how many time muliplication21
1 X 1 = 1	2 X 1 = 2	3 X 1 = 3	4 X 1 = 4
1 X 2 = 2	2 X 2 = 4	3 X 2 = 6	4 X 2 = 8
1 X 3 = 3	2 X 3 = 6	3 X 3 = 9	4 X 3 = 12
1 X 4 = 4	2 X 4 = 8	3 X 4 = 12	4 X 4 = 16
1 X 5 = 5	2 X 5 = 10	3 X 5 = 15	4 X 5 = 20
1 X 6 = 6	2 X 6 = 12	3 X 6 = 18	4 X 6 = 24
1 X 7 = 7	2 X 7 = 14	3 X 7 = 21	4 X 7 = 28
1 X 8 = 8	2 X 8 = 16	3 X 8 = 24	4 X 8 = 32
1 X 9 = 9	2 X 9 = 18	3 X 9 = 27	4 X 9 = 36
1 X 10 = 10	2 X 10 = 20	3 X 10 = 30	4 X 10 = 40
1 X 11 = 11	2 X 11 = 22	3 X 11 = 33	4 X 11 = 44
1 X 12 = 12	2 X 12 = 24	3 X 12 = 36	4 X 12 = 48
1 X 13 = 13	2 X 13 = 26	3 X 13 = 39	4 X 13 = 52
1 X 14 = 14	2 X 14 = 28	3 X 14 = 42	4 X 14 = 56
1 X 15 = 15	2 X 15 = 30	3 X 15 = 45	4 X 15 = 60
1 X 16 = 16	2 X 16 = 32	3 X 16 = 48	4 X 16 = 64
1 X 17 = 17	2 X 17 = 34	3 X 17 = 51	4 X 17 = 68
1 X 18 = 18	2 X 18 = 36	3 X 18 = 54	4 X 18 = 72
1 X 19 = 19	2 X 19 = 38	3 X 19 = 57	4 X 19 = 76
1 X 20 = 20	2 X 20 = 40	3 X 20 = 60	4 X 20 = 80